.pokemon-card {
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.pokemon-card-content {
  text-align: center;
  background: #d2cf05;
}

.pokemon-card-image {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
  background: #656363;
}

.pokemon-card-button {
  margin-top: 10px;
  display: block;
  margin: 0 auto;
}
